{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/autentikasi.css' %}"> {% block meta %} {% endblock meta %}

    <style>
        .navbar {
            margin-bottom: 0;
            background-color: #F7FBE1;
            z-index: 9999;
            border: 0;
            font-size: 18px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
        }
        
        .navbar li a,
        .navbar .navbar-brand {
            color: #436F8A !important;
            margin-left: 64px;
        }
        
        .navbar-nav li a:hover,
        .navbar-nav li.active a {
            color: white !important;
            background-color: #436F8A !important;
            border-radius: 22px;
        }
        
        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }
        
        @media screen and (max-width: 992px) {
            .navbar-toggle {
                margin-top: 55px;
            }
            .navbar-brand {
                font-size: 20px;
            }
        }
    </style>

</head>

<nav class="navbar navbar-default" style="margin-bottom:120px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul style="margin-top:52px;" class="nav navbar-nav navbar-right">
                {% block home %}<li><a href="/">HOME</a></li>{% endblock home %}
                {% block sign %}
                <li id="sign"><a href="{% url 'autentikasi:logout' %}">SIGN OUT</a></li>{% endblock %}
            </ul>
        </div>
    </div>
</nav>

<body>
    {% block content %} {% endblock content %}
</body>

</html>