{% extends 'autentikasi/base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/autentikasi.css' %}">
<title>Welcome!</title>
<style>
    .center {
        text-align: center;
        margin: auto;
    }
    
    .btn-start {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 30.7451px;
        line-height: 46px;
        text-decoration: none;
        background: #BAC964;
        border-radius: 30.7451px;
        padding: 7.69px 30.75px;
        color: #FFFFFF;
    }
</style>
{% endblock meta %} {%block home%}{%endblock home%} {% block sign %}{% endblock sign %} {% block content %}
<div class="container-fluid">
    <div class="container center">
        <h1 style="color:#438A5E;font-size:60px;">Welcome!</h1>
        <br>
        <a href="/signup/" class="btn btn-start">START NOW</a>
    </div>
</div>
</div>
{% endblock content %}