{% extends 'autentikasi/base.html' %} {% load static %} {% block meta %}
<title>Welcome, {{ name.full_name }}!</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/autentikasi.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<style>
    .center {
        text-align: center;
        margin: auto;
    }
</style>
{% endblock meta %} {% block home %} {% endblock home %} {% block content %}
<div class="container-fluid">
    <div class="container center">
        <h1 id="welcome" style="color:#438A5E;font-size:40px;">Welcome</h1>
        <h1 id="name" style="color:#436F8A;font-size:60px;font-weight:bold;">{{ name.full_name }}</h1>
    </div>
</div>
{% endblock content %}