{% extends 'autentikasi/base.html' %} {% load static %} {% block meta %}
<title>Signin</title>
<link rel="stylesheet" href="{% static 'css/autentikasi.css' %}"> {% endblock meta %} {% block sign %}{% endblock %} {% block content %}
<div class="content">
    <div id="logindiv">
        <h2>Sign in to your account</h2>
        <form id="loginform" method="POST" action="">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <label for="username">Username</label>
            <input type="password" name="password" placeholder="Password">
            <label for="password">Password</label>
            <input type="submit" value="Sign in"> {% for message in messages %}
            <p class="errormsg">{{ message }}</p>
            {% endfor %}
        </form>
        <p class="hvacc">Didn't have any account yet? Sign up <a href="/signup/">Here</a></p>
    </div>
</div>
{% endblock content %}