/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F7FBE1;
    font-family: 'Rubik', 'Poppins', sans-serif;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.container-myfootprints {
    margin-top: 160px;
    margin-bottom: 160px;
}


/* Background color */

.bg-green {
    background-color: #438A5E;
}

@media screen and (max-width: 992px) {
    .logo {
        margin-left: 0;
        margin-right: auto;
    }
}